
/** FOOTER **/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-principal;
    width: 100%;
    grid-area: footer;
    div{
        a {
            margin: 20px;
            img {
                height: 50px;
                width: 50px;
            }
        }
    }
    img {
        height: 80px;
        width: 80px;
    }
}