/**-----main------*/

/** pestana index **/

/**hero*/
main {
    .hero {
        background-image: url(../img/pexels-antoni-shkraba-7005669.jpg);
        width: 100%;
        height: calc(100vh - 178px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            h1 {
                @extend %color;
            }
        }
    }

    .fondo {
        h2 {
            text-align: center;
            font-size: 30px;
            margin: 30px;
        }

        div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            p {
                text-align: center;
                text-transform: uppercase;
                height: 200px;
                width: 600px;
                padding: 10px;
            }

            img {
                width: 600px;
                height: 500px;
            }
        }
    }
}

.disenios {
    h2 {
        text-align: center;
        margin: 30px;
        font-size: 30px;
        border: solid 2px;
        color: black;
    }

    .disenios-img {
        display: flex;
        justify-content: space-evenly;

        div {
            margin: 10px;
            border: solid 2px black;
            width: 500px;
            ;
            box-shadow: 6px 8px 50px -9px rgba(0, 0, 0, 0.97);
            -webkit-box-shadow: 6px 8px 50px -9px rgba(0, 0, 0, 0.97);
            -moz-box-shadow: 6px 8px 50px -9px rgba(0, 0, 0, 0.97);
            border-radius: 10px;
            text-align: center;

            img {
                width: 500px;
                height: 500px;
                border: solid 1px;
                border-radius: 10px;
            }
        }
    }
}

.sticky {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5%;
    bottom: 20%;
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 6px 8px 50px -9px rgba(0, 0, 0, 0.97);
    -webkit-box-shadow: 6px 8px 50px -9px rgba(0, 0, 0, 0.97);
    -moz-box-shadow: 6px 8px 50px -9px rgba(0, 0, 0, 0.97);

    div {
        color: rgb(255, 255, 255);
    }
}

.ubi {
    h3 {
        text-align: center;
        margin: 30px;
        font-size: 30px;
        color: black;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        iframe {
            width: 400px;
            height: 400px;
            margin: 50px 20px 50px 0px;
        }

    }

}

/** pestana Galeria **/

/** galeria grid **/

.grid-galeria {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 10px;
    margin-bottom: 20px;

    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
            transition: 1s;

            &:hover {

                transform: scale(1.2);
            }
        }
    }

    .img-5 {
        grid-row: span 2;
    }

    .img-7 {
        grid-row: span 2;
    }

}

/**pestana-materiales**/

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "fondo-mat fondo-mat"
        "maquinas agujas"
        "tintas tintas"
        "footer footer";
        .fondo-mat {
            background-image: url(../img/materiales/pexels-cottonbro-4123711.jpg);
            width: 100%;
            height: 600px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            grid-area: fondo-mat;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                h2 {
                    @extend %color;
                }
                
            }
        }
        .maquinas {
            grid-area: maquinas;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img{
                height: 400px;
                width: 400px;
                margin-bottom: 30px;
            }
            div{
                width: 300px;
                p{
                    font-size: 25px;
                }
            }
            }
        }
        .agujas {
            grid-area: agujas;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img{
                height: 400px;
                width: 400px;
            }
            div{
                width: 300px;
                p{
                    font-size: 25px;
                }
            }
        }
        .tintas {
            grid-area: tintas;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            img{
                height: 400px;
                width: 400px;
            }
            div{
                width: 300px;
                p{
                    font-size: 25px;
                }
            }
            }
        


/** pestana-preguntas frecuentes**/

.grid-quienes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr auto;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "cuidados cuidados"
        "pregunta1 pregunta1"
        "pregunta2 pregunta2"
        "footer footer";
        .cuidados {
            background-image: url(../img/preguntasfrecuentes/pexels-marcelo-chagas-1784272.jpg);
            width: 100%;
            height: 650px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: cuidados;
            h2 {
                @extend %color;
            }
        }
        .pregunta1 {
            grid-area: pregunta1;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
            div {
                width: 400px;
                .texto1 {
                    margin: 25px 15px 15px 15px;
                }
                .text2 {
                    margin: 15px 15px 25px 0px;
                }
                img {
                    height: 400px;
                    width: 400px;
                }
            }
        
        }
        .pregunta2 {
            grid-area: pregunta2;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row-reverse;
            margin-top: 20px;
            div {
                width: 400px;
                
                .texto3 {
                    margin: 15px 15px 15px 15px;
                }
                
                .texto4 {
                    margin: 15px 15px 15px 15px;
                }
            }
            img {
                height: 400px;
                width: 400px;
            }
            
        
        }
        
}

/**pestana-Sobre Nosotros*/

.grid-sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 700px 1fr auto;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "fondo-sobre fondo-sobre"
        "tatuadores tatuadores"
        "footer footer";
        .fondo-sobre {
            background-image: url(../img/quinessomos/background-quienes.jpg);
            width: 100%;
            height: 650px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            grid-area: fondo-sobre;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                @extend %color;
            }
        }
        .tatuadores {
            grid-area: tatuadores;
            .tatuador {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 20px;
                div {
                    width: 500px;
                }
            
            }
            .tatuadora {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 30px;
                div {
                    width: 500px;
                }
            }
            div{
                img {
                width: 500px;
                height: 500px;
}
        }
}}