

//! variables

$color-principal: black;


//* placeholder**/

%color {
    font-size: 150px;
    font-family: 'Great Vibes', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px black;

}